@model ImpiegatoViewModel;

@{
    ViewBag.Title = "Informazioni Impiegato";
}

@if (ViewBag.Message != null)
{
    <div roll="alert" class="alert alert-success">
        @ViewBag.Message
    </div>
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div>Visualizza Impiegato:</div>
        <hr>
       
        <table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Nome)</th>
        <th>@Html.DisplayNameFor(model => model.Cognome)</th>
        <th>@Html.DisplayNameFor(model => model.Città)</th>
        <th>@Html.DisplayNameFor(model => model.Salario)</th>
        
    </tr>
    <tr>
        <th></th>
    </tr>

        </table>
    </div>
}


<div>
    @Html.ActionLink("Indietro","Index")
</div>

